body {
	background-color: #eefefe;
}

nav{
	background-color: #eefefe;
}

.nav-link {
	color: #4ebabf;
}
.nav-link.active {
	color: #00A8CC;
}
.nav-link:hover {
	color: #00A8CC;
}

h5:after {
	content: "";
	display: block;
	height: 3px;
	position: relative;
	width: 50px;
	background-color: #71C9CE;
	margin: 5px auto;
  }

.content {
	width: 90vw !important;
	border-radius: 10px;
	/* background-color: #E3FDFD; */
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}