      <!-- About Section -->
      <section id="about" class="section section-secondary d-flex justify-content-center align-items-center">

        <div class="content content-secondary">
          <h5 class="section-heading text-center mt-3">About</h5>

          <div class="row about-row mt-5 mb-5">

            <div class="col-lg-6 col-sm-12 col-md-12 d-flex justify-content-center align-items-center">
              <img class="rounded-circle profile-img" data-tilt src="/content/profile.jpg" alt="">
            </div>

            <div class="col-lg-6 col-sm-12 col-md-12 about-info-div d-flex justify-content-center align-items-center">
              <div class="row d-flex about-info-row justify-content-center align-items-center">
                <p class="about-info">
                  Hello, I'm Boris Edison pursuing <span>computer engineering</span> from Don Bosco Institute of Technology. Previously I have qualified Pre-Regional Mathematical Olympiad <span>(PRMO).</span> Currently I have been learning <span>Deep Learning</span> to work on tool which helps in the segmentation of consumers. I have built <span>websites</span> for several NGO's during my leisure time. Aspiring software developer with an affinity towards <span>web development</span> and <span>project management.</span>
                  <br><br>

                  When I'm not coding I do touch typing on 
                  <a href="https://www.keybr.com/profile/v28on8s" target="_blank">keybr.com <span class="iconify" data-icon="mdi:link-variant" data-width="23" data-height="23"></span>.</a>
                   Once my fingers have given up, I watch some <span>tennis</span> and <span>formula 1!</span>
                </p>
              </div>

            </div>

          </div>

          <h6 class="section-sub-heading">Interests <b style="color: #4ebabf;">__________</b></h6>

          <div class="row pt-5 row-cols-3 row-cols-md-4 row-cols-sm-6 g-5">
            <div class="col d-flex justify-content-center align-items-center">
                <div class="interests-div d-flex justify-content-center align-items-center">
                  <span class="iconify" data-icon="vscode-icons:file-type-html" data-width="35" data-height="35"></span>
                  &nbsp;
                  <h6 class="mb-0 interests-div-heading">Web Development</h6>
                </div>
            </div>

            <div class="col d-flex justify-content-center align-items-center">
              <div class="interests-div d-flex justify-content-center align-items-center">
                  <span class="iconify" data-icon="vscode-icons:file-type-reactjs" data-width="35" data-height="35"></span>
                  &nbsp;
                  <h6 class="mb-0 interests-div-heading">Front-End Development</h6>
              </div>
            </div>

            <div class="col d-flex justify-content-center align-items-center">
              <div class="interests-div d-flex justify-content-center align-items-center">
                  <span class="iconify" data-icon="mdi:database" data-width="35" data-height="35"></span>
                  &nbsp;
                  <h6 class="mb-0 interests-div-heading">Back-end Development</h6>
              </div>
            </div>
            
            <div class="col d-flex justify-content-center align-items-center">
              <div class="interests-div d-flex justify-content-center align-items-center">
                  <span class="iconify" data-icon="material-symbols:keyboard" data-width="35" data-height="35"></span>
                  &nbsp;
                  <h6 class="mb-0 interests-div-heading">Touch Typing</h6>
              </div>
            </div>

            <div class="col d-flex justify-content-center align-items-center">
                <div class="interests-div d-flex justify-content-center align-items-center">
                  <span class="iconify" data-icon="eos-icons:dns" data-width="35" data-height="35"></span>
                  &nbsp;
                  <h6 class="mb-0 interests-div-heading">Domain & DNS</h6>
                </div>
            </div>

            <div class="col d-flex justify-content-center align-items-center">
                <div class="interests-div d-flex justify-content-center align-items-center">
                  <span class="iconify" data-icon="mdi:code-braces" data-width="35" data-height="35"></span>
                  &nbsp;
                  <h6 class="mb-0 interests-div-heading">Programming</h6>
                </div>
            </div>

            <div class="col d-flex justify-content-center align-items-center">
              <div class="interests-div d-flex justify-content-center align-items-center">
                  <span class="iconify" data-icon="mdi:database" data-width="35" data-height="35"></span>
                  &nbsp;
                  <h6 class="mb-0 interests-div-heading">Back-end Development</h6>
              </div>
            </div>
            
            <div class="col d-flex justify-content-center align-items-center">
              <div class="interests-div d-flex justify-content-center align-items-center">
                  <span class="iconify" data-icon="material-symbols:keyboard" data-width="35" data-height="35"></span>
                  &nbsp;
                  <h6 class="mb-0 interests-div-heading">Touch Typing</h6>
              </div>
            </div>

          </div>


          </div>

        </div>

      </section>