      <!-- About Section -->
      <section id="about" class="d-flex justify-content-center align-items-center">

        <div class="content">
          <h5 class="section-heading text-center mt-3">About</h5>

          <div class="row">

            <div class="col-6 d-flex justify-content-center align-items-center">
              <img class="rounded-circle" width="200"  style="box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5) !important;"  src="/content/profile.jpg" alt="">
            </div>

            <div class="col-6">
              <p>
                Hello, I'm Boris Edison pursuing computer engineering from Don Bosco Institute of Technology. Previously I have qualified Pre-Regional Mathematical Olympiad(PRMO). Currently I have been learning Deep Learning to work on tool which helps in the segmentation of consumers. I have built websites for several NGO's during my leisure time. Aspiring software developer with an affinity towards web development and project management.
                <br><br>

                When I'm not coding I do touch typing on keybr.com. Once my fingers have given up, I watch some tennis and formula 1!
              </p>
            </div>

          </div>

          <h6>Interests <b style="color: #4ebabf;">__________</b></h6>

          <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <span class="iconify" data-icon="vscode-icons:file-type-html"></span>
                  <h6 class="card-title">Web Development</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <span class="iconify" data-icon="vscode-icons:file-type-reactjs"></span>
                  <h6 class="card-title">Front-End Development</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <span class="iconify" data-icon="mdi:database"></span>
                  <h6 class="card-title">Back-end Development</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <span class="iconify" data-icon="material-symbols:keyboard"></span>
                  <h6 class="card-title">Touch Typing</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <span class="iconify" data-icon="logos:aws"></span>
                  <h6 class="card-title">Web Hosting</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <span class="iconify" data-icon="eos-icons:dns"></span>
                  <h6 class="card-title">Domain & DNS</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <span class="iconify" data-icon="mdi:code-braces"></span>
                  <h6 class="card-title">Programming</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <span class="iconify" data-icon="fluent:people-team-16-filled"></span>
                  <h6 class="card-title">Product Management</h6>
                </div>
              </div>
            </div>
          </div>

        </div>

      </section>