<!-- About Section -->
<section id="about" class="section section-secondary d-flex justify-content-center align-items-center">

  <div class="content content-secondary">

    <h3 class="section-heading text-center mt-3">About</h3>

    <div class="row about-row m-0 mt-5 mb-4">

      <div class="col-lg-6 col-sm-12 col-md-12 p-0 d-flex justify-content-center align-items-center">
        <img class="rounded-circle profile-img" data-tilt src="/content/boris.png" alt="Boris Profile Picture">
      </div>

      <div class="col-lg-6 col-sm-12 col-md-12 p-0 about-info-div d-flex justify-content-center align-items-center">
        <div class="row d-flex about-info-row justify-content-center align-items-center">
          <p class="about-info">
            Hello, I'm Boris Edison pursuing <span>computer engineering</span> from Don Bosco Institute of
            Technology. Previously I have qualified Pre-Regional Mathematical Olympiad <span>(PRMO).</span>
            Currently I have been learning <span>Deep Learning</span> to work on tool which helps in the
            segmentation of consumers. I have built <span>websites</span> for several NGO's during my leisure
            time. Aspiring software developer with an affinity towards <span>web development</span> and
            <span>project management</span>
            <br><br>

            When I'm not coding I do touch typing on
            <a href="https://www.keybr.com/profile/v28on8s" target="_blank" aria-label="keybr link">keybr.com<span
                class="iconify" data-icon="charm:link-external" data-width="23" data-height="23"></span>.</a>
            Once my fingers have given up, I watch some <span>tennis</span> and <span>formula 1!</span>
          </p>
        </div>

      </div>

    </div>

    <h3 class="section-sub-heading section-sub-heading-primary">Interests</h3>

    <div class="row pb-5 m-0">

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="100">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="ri:html5-fill" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Web Development</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="200">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="akar-icons:bootstrap-fill" data-width="35"
            data-height="35"></span>
          &nbsp;&nbsp;
          <h4 class="mb-0 interests-div-heading">Frontend Development</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="300">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="mdi:database" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Backend Development</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="400">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="material-symbols:keyboard" data-width="35"
            data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Touch Typing</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="100">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="eos-icons:dns" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Domain & DNS</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="200">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="mdi:code-braces" data-width="35" data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Programming</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="300">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="cib:amazon-aws" data-width="35" data-height="35"></span>
          &nbsp;&nbsp;
          <h4 class="mb-0 interests-div-heading">Web Hosting</h4>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 p-0 d-flex justify-content-center align-items-center">
        <div class="interests-div d-flex justify-content-start align-items-center" data-aos="fade-up"
          data-aos-delay="400">
          &nbsp;&nbsp;&nbsp;
          <span class="iconify interests-logo" data-icon="fluent:people-team-16-filled" data-width="35"
            data-height="35"></span>
          &nbsp;
          <h4 class="mb-0 interests-div-heading">Product Management</h4>
        </div>
      </div>
    </div>

  </div>

</section>