      <!-- About Section -->
      <section id="project" class="d-flex justify-content-center align-items-center">

        <div class="content">
          <h5 class="section-heading text-center mt-3">About</h5>

          <div class="row">
            <div class="col-4">

            </div>

            <div class="col-4 d-flex justify-content-center align-items-center">
              <img class="rounded-circle" width="200"  style="box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5) !important;"  src="/content/profile.jpg" alt="">
            </div>
          </div>

          <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title">Card title</h6>
                </div>
              </div>
            </div>
          </div>

        </div>

      </section>