      <!-- Contact Section -->
      <section id="contact" style="height: 500px;" class="d-flex justify-content-center align-items-center">

        <div class="content">
            <h5 class="section-heading text-center mt-3">Contact</h5>

            <div class="row">

              <div class="col-6">
                
              </div>

              <div class="col-6">

              </div>

            </div>
        </div>

      </section>