      <!-- Contact Section -->
      <section id="contact" class="d-flex justify-content-center align-items-center pt-5">

        <div class="content">
            <h5 class="section-heading text-center mt-5">Contact</h5>

            <div class="row m-0 mt-5 mb-5 pt-5 pb-5">

              <div class="col-lg-6 col-md-6 col-sm-12 mt-4">

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingName" placeholder="Name">
                  <label for="floatingName">Name</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingEmail" placeholder="Email">
                  <label for="floatingEmail">Email</label>
                </div>

                <div class="form-floating">
                  <textarea class="form-control" placeholder="Message" id="floatingTextarea" style="height: 100px"></textarea>
                  <label for="floatingTextarea">Message</label>
                </div>

                <div class="row pt-3 d-flex align-items-center mb-5">
                  <div class="col-6">
                    <a href="mailto:borisedison@gmail.com" style="text-decoration: none; color: var(--clr-accent-700)">Send me mail directly</a>
                  </div>
                  <div class="col-6 d-flex justify-content-end">
                    <button class="submit-btn">
                      Submit
                    </button>
                  </div>
                </div>

              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 mt-4">
                <div class="row">
                  <div class="col-12 text-end">
                    <h6 class="section-sub-heading">Email</h6>
                    <p class="mb-5" style="color: var(--clr-accent-700);"><b>borisedison@gmail.com</b></p>
                  </div>

                  <div class="col-12 text-end">
                    <h6 class="section-sub-heading">Address</h6>
                    <p class="m-0" style="color: var(--clr-accent-700);"><b>Mumbai, Maharashtra</b></p>
                    <p class="mb-5" style="color: var(--clr-accent-700);"><b>India</b></p>
                  </div>

                  <div class="col-12 text-end d-flex justify-content-end">
                    <div class="row">
                      <div class="col-12">
                        <h6 class="section-sub-heading">Connect with me</h6>
                      </div>
                      <div class="col-12">
                        <a href="https://github.com/BorisEdison" target="_blank" style="text-decoration: none; color: #444444">
                          <span class="iconify p-1" style="background-color: white; border-radius: 12px" data-icon="akar-icons:github-fill" data-width="45" data-height="45"></span>
                        </a>
                        <a class="m-3 mt-0 mb-0" href="https://www.linkedin.com/in/borisedison/" target="_blank" style="text-decoration: none; color: #444444">
                          <span class="iconify p-1" style="background-color: white; border-radius: 12px" data-icon="logos:linkedin-icon" data-width="45" data-height="45"></span>
                        </a>
                        <a href="https://www.instagram.com/_boris_edison_/" target="_blank">
                            <span class="iconify p-1" style="color: white; background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); border-radius: 12px;" data-icon="akar-icons:instagram-fill" data-width="45" data-height="45"></span>
                        </a>     
                      </div>

                    </div>

                  </div>

                </div>
              </div>

            </div>

            <hr class="m-0 mt-5">

            <div class="row" style="margin-right: 0; margin-left: 0">
              <div class="col-12 d-flex justify-content-center mt-4 mb-4">
                <p class="contrib-info m-0" class="m-0">Made with ❤️ by Boris Edison</p>
              </div>
            </div>
        </div>

      </section>