      <!-- Contact Section -->
      <section id="contact" class="d-flex justify-content-center align-items-center pt-5 pb-5">

        <div class="content">
            <h5 class="section-heading text-center mt-5">Contact</h5>

            <div class="row m-0 mt-5 mb-5">

              <div class="col-6">

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingName" placeholder="Name">
                  <label for="floatingName">Name</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
                  <label for="floatingEmail">Email address</label>
                </div>

                <div class="form-floating">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 250px"></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>

                <div class="row">
                  <div class="col-12">
                    <a href="mailto:borisedison@gmail.com">Send me mail directly</a>
                  </div>
                  <div class="col-12 d-flex justify-content-end">
                    <button class="submit-btn">
                      Submit
                    </button>
                  </div>
                </div>

              </div>

              <div class="col-6">
                <div class="row">
                  <div class="col-12 text-end">
                    <h6 class="section-sub-heading">Email</h6>
                    <p>borisedison@gmail.com</p>
                  </div>

                  <div class="col-12 text-end">
                    <h6 class="section-sub-heading">Address</h6>
                    <p class="m-0">Mumbai, Maharashtra</p>
                    <p>India</p>
                  </div>

                  <div class="col-12 text-end d-flex justify-content-end">
                    <div class="row">
                      <div class="col-12">
                        <h6 class="section-sub-heading">Connect with me</h6>
                      </div>
                      <div class="col-12">
                        <a href="https://github.com/BorisEdison" target="_blank" style="text-decoration: none; color: #444444">
                          <span class="iconify" data-icon="akar-icons:github-fill" data-width="30" data-height="30"></span>
                        </a>
                        <a href="https://www.linkedin.com/in/borisedison/" target="_blank" style="text-decoration: none; color: #444444">
                          <span class="iconify" data-icon="akar-icons:linkedin-box-fill" data-width="30" data-height="30"></span>
                        </a>
                        <a href="https://www.instagram.com/_boris_edison_/" target="_blank" style="text-decoration: none; color: #444444">
                          <span class="iconify" data-icon="akar-icons:instagram-fill" data-width="30" data-height="30"></span>
                        </a>
                      </div>

                    </div>

                  </div>

                </div>
              </div>

            </div>


            <hr>

            <div class="row" style="margin-right: 0; margin-left: 0">
              <div class="col-12 d-flex justify-content-center">
                <p class="">Made with ❤️ by
                  <a class="contrib-link" href="https://www.linkedin.com/in/borisedison/" target="_blank">Boris Edison</a>
                </p>
              </div>
            </div>
        </div>

      </section>