<!-- Home Section -->
<section id="home" class="section-primary d-flex align-items-end justify-content-center">
  <div class="row">                    
      <div class="col-12">
          <div class="row inner-row">
              <div class="col-4 home-cols d-flex align-items-end justify-content-start">
                  <img class="side-img side-img-left" data-tilt src="/content/coding-left.png" alt="">
              </div>
              <div class="col-4 home-cols d-flex align-items-center justify-content-center">
                <div class="row">
                  <div class="col-12 home-cols d-flex align-items-end justify-content-center">
                    <h1 class="home-heading mb-0 text-center">Boris Edison</h1>
                  </div>
                  <div class="col-12 home-cols home-info-div d-flex align-items-start justify-content-center">
                    <h2 class="home-info mb-0 text-center">full stack developer</h1>
                  </div>
                </div>
              </div>
              <div class="col-4 home-cols d-flex align-items-start justify-content-end">
                  <img class="side-img side-img-right" src="/content/coding-right.png" alt="">
              </div>
          </div>
      </div>
      <div class="col-12 home-cols d-flex align-items-end justify-content-center">
          <img  class="main-img" src="/content/programmer.png" alt="">
      </div>    
  </div>
</section>