<!-- Home Section -->
<section id="home" style="height: 100vh" class="d-flex align-items-end justify-content-center">
  <div class="row">                    
      <div class="col-12">
          <div class="row" style="height: 30vh;">
              <div class="col-4 d-flex align-items-end justify-content-start" style="padding-left: 0; padding-right: 0;">
                  <img src="/content/coding-left.png" alt="" style="width: 100px;">
              </div>
              <div class="col-4 d-flex align-items-center justify-content-center" style="padding-left: 0; padding-right: 0">
                <div class="row">
                  <div class="col-12 d-flex align-items-end justify-content-center" style="padding-left: 0; padding-right: 0">
                    <h1 class="pb-0" style="font-family: Corinthia; font-size: 76px; color: #71C9CE">Boris Edison</h1>
                  </div>
                  <div class="col-12 d-flex align-items-start justify-content-center" style="padding-left: 0; padding-right: 0">
                    <h1 style="font-family: Continent; font-size: 20px; color: #71C9CE">full stack developer</h1>
                  </div>
                </div>
              </div>
              <div class="col-4 d-flex align-items-start justify-content-end" style="padding-left: 0; padding-right: 0">
                  <img src="/content/coding-right.png" alt="" style="width: 100px;">
              </div>
          </div>
      </div>
      <div class="col-12 d-flex align-items-end justify-content-center" style="padding-left: 0; padding-right: 0">
          <img src="/content/programmer.png" alt="" style="width: 350px;">
      </div>    
  </div>
</section>