<!-- Navbar -->
<!-- <nav class="navbar navbar-expand-lg p-5 pt-4 pb-2 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="/content/logo-4.png" class="rounded-circle" style="box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5) !important;
        " alt="" width="70">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
        </ul>
        </div>
    </div>
    </nav> -->

    <nav class="navbar navbar-expand-lg p-5 pt-4 pb-2 fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="/content/logo-4.png" class="rounded-circle" style="box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5) !important;" alt="" width="70">
        </a>
        <button class="hamburger hamburger--vortex navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
            <a class="nav-link" aria-current="page" href="#home">Home</a>
            <a class="nav-link" href="#about">About</a>
            <a class="nav-link" href="#technical">Technical Skills</a>
            <a class="nav-link" href="#resume">Resume</a>
            {{!-- <a class="nav-link" href="#accomplishment">Accomplishments</a> --}}
            <a class="nav-link" href="#project">Projects</a>
            {{!-- <a class="nav-link" href="#research">Research</a> --}}
            <a class="nav-link" href="#contact">Contact Me</a>
        </div>
        </div>
    </div>
    </nav>

    <!-- <header>
    <div class="container">
        <nav id="navigation">
        <a href="#" class="logo">Boris Edison</a>
        <a aria-label="mobile menu" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </a>
        <ul class="menu-left">
            <li><a href="#about">About</a></li>
            <li><a href="#exp">Resume</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        </nav>
    </div>
    </header> -->