<!-- Technical Skills Section -->
<section id="project" class="section section-primary d-flex justify-content-center align-items-center">

    <div class="content content-primary">
        <h3 class="section-heading text-center mt-3">Projects</h3>

        <div class="row skills-row pb-5 m-0">

            <div class="col-lg-6 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="300">
                        <img src="/content/hb1.png" style="max-width: 100%; border-radius: 7px; border: 2px solid var(--clr-accent-700);" alt="">
                        <div class="row pt-2">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="project-heading mb-0">
                                    Honey Badger
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                <a href="">
                                    <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled" data-width="35" data-height="35"></span>
                                </a>
                                &nbsp;&nbsp;&nbsp;
                                <a href="">
                                    <span class="iconify iconify-redirect-icon" data-icon="charm:link-external" data-width="35" data-height="35"></span>
                                </a>
                            </div>
                            
                        </div>

                        <div class="row pt-1">
                            <h6 class="">

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge nodejs-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:nodejs"></span>
                                    &nbsp;
                                    NodeJS
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge express-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:express"></span>
                                    &nbsp;
                                    Express
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge hbs-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:handlebarsdotjs"></span>
                                    &nbsp;
                                    Handlebars
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge">
                                    <span class="iconify built-with-icons" data-icon="ri:html5-fill"></span>
                                    &nbsp;
                                    HTML
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge bootstrap-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:bootstrap-fill"></span>
                                    &nbsp;
                                    Bootstrap
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge">
                                    <span class="iconify built-with-icons" data-icon="ion:logo-css3"></span> 
                                    &nbsp;                                  
                                    CSS
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:javascript"></span>
                                    &nbsp;
                                    JavaScript
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge jquery-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:jquery-fill"></span>
                                    &nbsp;
                                    jQuery
                                </span>

                            </h6>
                        </div>

                        <p class="project-info">
                            A website for tracking all the progress in the student-teacher mentoring program                        
                        </p>

                        <span class="date-badge">
                            Dec 2022 - Present
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="300">
                        <img src="/content/mpt.png" style="max-width: 100%; border-radius: 7px; border: 2px solid var(--clr-accent-700);" alt="">
                        <div class="row pt-2">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="project-heading mb-0">
                                    MPT
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled" data-width="35" data-height="35"></span>
                                &nbsp;&nbsp;&nbsp;
                                <span class="iconify iconify-redirect-icon" data-icon="charm:link-external" data-width="35" data-height="35"></span>
                            </div>
                            
                        </div>

                        <div class="row pt-1">
                            <h6>
                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge django-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:django-fill"></span>
                                    &nbsp;
                                    Django
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge jinja-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:jinja"></span>
                                    &nbsp;
                                    jinja
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge chartjs-badge">
                                    <span class="iconify built-with-icons" data-icon="file-icons:chartjs"></span>
                                    &nbsp;
                                    ChartJS
                                </span>    

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge">
                                    <span class="iconify built-with-icons" data-icon="ri:html5-fill"></span>
                                    &nbsp;
                                    HTML
                                </span>
                                
                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge">
                                    <span class="iconify built-with-icons" data-icon="ion:logo-css3"></span>
                                    &nbsp;
                                    CSS
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge bootstrap-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:bootstrap-fill"></span>
                                    &nbsp;
                                    Bootstrap
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:javascript"></span>
                                    &nbsp;
                                    JavaScript
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge jquery-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:jquery-fill"></span>
                                    &nbsp;
                                    jQuery
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge sqlite-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:sqlite"></span>
                                    &nbsp;
                                    SQLite
                                </span>

                            </h6>
                        </div>

                        <p class="project-info">
                            A website for tracking all the progress in the student-teacher mentoring program                        
                        </p>

                        <span class="date-badge">
                            Feb 2022 - Present
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="300">
                        <img src="/content/diffuser.png" style="max-width: 100%; border-radius: 7px; border: 2px solid var(--clr-accent-700);" alt="">
                        <div class="row pt-2">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="project-heading mb-0">
                                    Diffuser
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled" data-width="35" data-height="35"></span>
                                &nbsp;&nbsp;&nbsp;
                                <span class="iconify iconify-redirect-icon" data-icon="charm:link-external" data-width="35" data-height="35"></span>
                            </div>
                            
                        </div>

                        <div class="row pt-1">
                            <h6>
                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge django-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:django-fill"></span>
                                    &nbsp;
                                    Django
                                </span>
                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge">
                                    <span class="iconify built-with-icons" data-icon="ri:html5-fill"></span>
                                    &nbsp;
                                    HTML
                                </span>
                                
                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge">
                                    <span class="iconify built-with-icons" data-icon="ion:logo-css3"></span>
                                    &nbsp;
                                    CSS
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge bootstrap-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:bootstrap-fill"></span>
                                    &nbsp;
                                    Bootstrap
                                </span>
                            </h6>
                        </div>

                        <p class="project-info">
                            A web-app to blog, made using Django and Bootstrap
                        </p>

                        <span class="date-badge">
                            Jul 2022 - Oct 2022
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div">

                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="300">
                        <img src="/content/apb.png" style="max-width: 100%; border-radius: 7px; border: 2px solid var(--clr-accent-700);" alt="">
                        <div class="row pt-2">
                            <div class="col-6 d-flex align-items-center">
                                <h4 class="project-heading mb-0">
                                    APB
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                <span class="iconify iconify-redirect-icon" data-icon="ant-design:github-filled" data-width="35" data-height="35"></span>
                                &nbsp;&nbsp;&nbsp;
                                <span class="iconify iconify-redirect-icon" data-icon="charm:link-external" data-width="35" data-height="35"></span>
                            </div>
                            
                        </div>

                        <div class="row pt-1">
                            <h6>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge html-badge">
                                    <span class="iconify built-with-icons" data-icon="ri:html5-fill"></span>
                                    &nbsp;
                                    HTML
                                </span>
                                
                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge css-badge">
                                    <span class="iconify built-with-icons" data-icon="ion:logo-css3"></span>
                                    &nbsp;
                                    CSS
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge bootstrap-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:bootstrap-fill"></span>
                                    &nbsp;
                                    Bootstrap
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge javascript-badge">
                                    <span class="iconify built-with-icons" data-icon="simple-icons:javascript"></span>
                                    &nbsp;
                                    JavaScript
                                </span>

                                <span class="d-inline-flex align-items-center justify-content-center built-with-badge jquery-badge">
                                    <span class="iconify built-with-icons" data-icon="akar-icons:jquery-fill"></span>
                                    &nbsp;
                                    jQuery
                                </span>
                             
                            </h6>
                        </div>

                        <p class="project-info">
                            Website for “ANTI-PLASTIC BRIGADE CHARITABLE TRUST” which is a Registered NGO from Thane working mainly for Solid Waste Management along with other Green Activities since 2017.
                        </p>

                        <span class="date-badge">
                            Oct 2021 - Feb 2022
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>