<!-- Technical Skills Section -->
<section id="project" class="section section-primary d-flex justify-content-center align-items-center">

    <div class="content content-primary">
        <h3 class="section-heading text-center mt-3">Projects</h3>

        <div class="row skills-row pb-5 m-0">

            <div class="col-lg-6 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="300">
                        <img src="/content/hb1.png" style="max-width: 100%; border-radius: 7px; border: 2px solid var(--clr-accent-700);" alt="">
                        <div class="row pt-2">
                            <div class="col-6">
                                <h4 class="project-heading">Honey Badger

                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                <span class="iconify" style="color: white;" data-icon="ant-design:github-filled" data-width="35" data-height="35"></span>
                                &nbsp;&nbsp;&nbsp;
                                <span class="iconify" style="color: white;" data-icon="charm:link-external" data-width="35" data-height="35"></span>
                            </div>
                            
                        </div>

                        <div class="row">
                            <h6>
                                <span style="">
                                    <span class="iconify" data-icon="ri:html5-fill"></span>
                                    HTML
                                </span>
                                
                                <span>
                                    CSS
                                </span>

                                <span>
                                    Bootstrap
                                </span>

                                <span>
                                    JavaScript
                                </span>

                                <span>
                                    jQuery
                                </span>

                                <span>
                                    NodeJS
                                </span>

                                <span>
                                    Express
                                </span>

                                <span>
                                    Handlebars
                                </span>

                            </h6>
                        </div>

                        <p>
                            Website for “ANTI-PLASTIC BRIGADE CHARITABLE TRUST” which is a Registered NGO from Thane working mainly for Solid Waste Management along with other Green Activities since 2017.
                        </p>

                        <span>
                            Dec 2022 - Present
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="300">
                        <img src="/content/mpt.png" style="max-width: 100%; border-radius: 7px; border: 2px solid var(--clr-accent-700);" alt="">
                        <div class="row pt-2">
                            <div class="col-6">
                                <h4 class="project-heading">
                                    MPT
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                <span class="iconify" style="color: white;" data-icon="ant-design:github-filled" data-width="35" data-height="35"></span>
                                &nbsp;&nbsp;&nbsp;
                                <span class="iconify" style="color: white;" data-icon="charm:link-external" data-width="35" data-height="35"></span>
                            </div>
                            
                        </div>

                        <div class="row">
                            <h6>
                                <span style="">
                                    <span class="iconify" data-icon="ri:html5-fill"></span>
                                    HTML
                                </span>
                                
                                <span>
                                    CSS
                                </span>

                                <span>
                                    Bootstrap
                                </span>

                                <span>
                                    JavaScript
                                </span>

                                <span>
                                    jQuery
                                </span>

                                <span>
                                    NodeJS
                                </span>

                                <span>
                                    Express
                                </span>

                                <span>
                                    Handlebars
                                </span>

                            </h6>
                        </div>

                        <p>
                            Website for “ANTI-PLASTIC BRIGADE CHARITABLE TRUST” which is a Registered NGO from Thane working mainly for Solid Waste Management along with other Green Activities since 2017.
                        </p>

                        <span>
                            Feb 2022 - Present
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div">
                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="300">
                        <img src="/content/diffuser.png" style="max-width: 100%; border-radius: 7px; border: 2px solid var(--clr-accent-700);" alt="">
                        <div class="row pt-2">
                            <div class="col-6">
                                <h4 class="project-heading">
                                    Diffuser
                                </h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                <span class="iconify" style="color: white;" data-icon="ant-design:github-filled" data-width="35" data-height="35"></span>
                                &nbsp;&nbsp;&nbsp;
                                <span class="iconify" style="color: white;" data-icon="charm:link-external" data-width="35" data-height="35"></span>
                            </div>
                            
                        </div>

                        <div class="row">
                            <h6>
                                <span style="">
                                    <span class="iconify" data-icon="akar-icons:django-fill"></span>
                                    Django
                                </span>
                                <span style="">
                                    <span class="iconify" data-icon="ri:html5-fill"></span>
                                    HTML
                                </span>
                                
                                <span>
                                    <span class="iconify" data-icon="ci:css3"></span>
                                    CSS
                                </span>

                                <span>
                                    <span class="iconify" data-icon="simple-icons:bootstrap"></span>
                                    Bootstrap
                                </span>
                            </h6>
                        </div>

                        <p>
                            A web-app to blog, made using Django and Bootstrap
                        </p>

                        <span>
                            Jul 2022 - Oct 2022
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 mt-5 p-0 col-sm-12  d-flex justify-content-center">
                <div class="project-outer-div">

                    <div class="card-body project-div" data-aos="fade-up" data-aos-delay="300">
                        <img src="/content/apb.png" style="max-width: 100%; border-radius: 7px; border: 2px solid var(--clr-accent-700);" alt="">
                        <div class="row pt-2">
                            <div class="col-6">
                                <h4 class="project-heading">APB</h4>
                            </div>

                            <div class="col-6 d-flex justify-content-end">
                                <span class="iconify" style="color: white;" data-icon="ant-design:github-filled" data-width="35" data-height="35"></span>
                                &nbsp;&nbsp;&nbsp;
                                <span class="iconify" style="color: white;" data-icon="charm:link-external" data-width="35" data-height="35"></span>
                            </div>
                            
                        </div>

                        <div class="row">
                            <h6>
                                <span style="">
                                    <span class="iconify" data-icon="akar-icons:django-fill"></span>
                                    Django
                                </span>
                                
                                <span style="">
                                    <span class="iconify" data-icon="ri:html5-fill"></span>
                                    HTML
                                </span>
                                
                                <span>
                                    CSS
                                </span>

                                <span>
                                    Bootstrap
                                </span>

                                <span>
                                    JavaScript
                                </span>

                                <span>
                                    jQuery
                                </span>

                                <span>
                                    jinja
                                </span>

                                <span>
                                    ChartJS
                                </span>                                
                            </h6>
                        </div>

                        <p>
                            Website for “ANTI-PLASTIC BRIGADE CHARITABLE TRUST” which is a Registered NGO from Thane working mainly for Solid Waste Management along with other Green Activities since 2017.
                        </p>

                        <span>
                            Oct 2021 - Feb 2022
                        </span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>