<!-- Research Section -->
<section id="research" class="d-flex justify-content-center align-items-center">

  <div class="content">
    <h3 class="section-heading text-center mt-3">Research</h3>
  </div>

</section>