<!-- Resume Section -->
<section id="resume" class="section section-secondary d-flex justify-content-center align-items-center">

  <div class="content content-secondary">
    <h3 class="section-heading text-center mt-3">Resume</h3>

    <div class="row pb-5 m-0">
      <div class="col-lg-6  col-md-12 col-sm-12">
        <div class="row d-flex justify-content-center m-0">
          <div class="resume" data-aos="fade-up" data-aos-delay="100">
            <h4 class="resume-div-heading d-flex align-items-center">
              <span class="iconify resume-div-heading-icon" data-icon="zondicons:education"></span>Education
            </h4>
            <ul>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Honors in Data Science</span>
                <span class="resume-div-content">
                  <p class="mb-0">University of Mumbai (July 2022 - Present)</p>
                </span>
              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Bachelor of Engineering - Computer Engineering</span>
                <span class="resume-div-content">
                  <p class="mb-0">CGPA - 9.53</p>
                  <p class="mb-0">University of Mumbai (Aug 2020 - Present)</p>
                </span>

              </li>

            </ul>
          </div>

        </div>


        <div class="row d-flex justify-content-center m-0">

          <div class="resume" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-div-heading d-flex align-items-center">
              <span class="iconify resume-div-heading-icon"
                data-icon="fluent:certificate-20-filled"></span>Certifications
            </h3>
            <ul>

              <li class="resume-li">
                <span class="resume-div-sub-heading">The Complete Node.js Developer Course</span>

                <span class="resume-div-content">
                  <p class="mb-1">Issued by Udemy</p>
                  <span class="date-badge">
                    Dec 2022
                  </span>
                </span>

              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">SQL for Data Science</span>
                <span class="resume-div-content">
                  <p class="mb-1">Issued by Great Learning</p>
                  <span class="date-badge">
                    March 2022
                  </span>
                </span>

              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Python Data Structures</span>
                <span class="resume-div-content">
                  <p class="mb-1">Issued by University of Michigan</p>
                  <span class="date-badge">
                    August 2020
                  </span>
                </span>

              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Programming for Everybody (Getting Started with Python)</span>

                <span class="resume-div-content">
                  <p class="mb-1">Issued by University of Michigan</p>
                  <span class="date-badge">
                    July 2020
                  </span>
                </span>

              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Build a Full Website using Wordpress</span>

                <span class="resume-div-content">
                  <p class="mb-1">Coursera Project Network</p>
                  <span class="date-badge">
                    May 2020
                  </span>
                </span>

              </li>

            </ul>
          </div>
        </div>

      </div>


      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="row d-flex justify-content-center m-0">

          <div class="resume" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-div-heading d-flex align-items-center text-justify">
              <span class="iconify resume-div-heading-icon"
                data-icon="material-symbols:home-work-outline-rounded"></span>Work Experience
            </h3>
            <ul>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Aadhar Medical and Educational Trust</span>

                <span class="resume-div-content">
                  <p class="mb-1">Web Development Intern</p>

                  <div class="row">
                    <div class="col-10 d-inline-flex justify-content-start align-items-center">
                      <span class="date-badge d-inline-flex align-items-center">
                        Sep 2022 - Oct 2022
                      </span>
                    </div>

                    <div class="col-2 d-flex justify-content-end" aria-label="Know More" data-balloon-pos="up-right">
                      <button
                        class="km-amt-btn rounded-circle p-0 km-btn d-flex justify-content-center align-items-center"
                        aria-label="know more button">
                        <span class="iconify km-icon" data-icon="material-symbols:keyboard-arrow-down-rounded"></span>
                      </button>
                    </div>
                  </div>

                </span>

                <ul style="list-style-type:disc; text-align:justify"
                  class="p-3 pt-2 pb-0 resume-info-ul km-amt-info d-none">
                  <li>
                    Developed Responsive Static Website for "Aadhar Medical and Educational Trust"
                  </li>

                  <li>
                    Setup domain and hosted the website at
                    <a class="project-redirect-link d-inline-flex" target="_blank" aria-label="amt link"
                      href="https://aadharmedicaltrust.org/">
                      aadharmedicaltrust.org
                    </a>
                  </li>

                  <li>
                    <b>Technologies:</b> HTML, CSS, JavaScript, Bootstrap, jQuery, Git, GitHub
                  </li>
                </ul>
              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Don Bosco Institute of Technology</span>

                <span class="resume-div-content">
                  <p class="mb-1">Software Intern</p>

                  <div class="row">
                    <div class="col-10 d-inline-flex justify-content-start align-items-center">
                      <span class="date-badge d-inline-flex align-items-center">
                        Feb 2022 - Present
                      </span>
                    </div>
                    <div class="col-2 d-flex justify-content-end" aria-label="Know More" data-balloon-pos="up-right">
                      <button
                        class="km-mpt-btn rounded-circle p-0 km-btn d-flex justify-content-center align-items-center">
                        <span class="iconify km-icon" data-icon="material-symbols:keyboard-arrow-down-rounded"
                          aria-label="know more button"></span>
                      </button>
                    </div>
                  </div>

                </span>
                <ul style="list-style-type:disc; text-align:justify"
                  class="p-3 pt-2 pb-0 resume-info-ul km-mpt-info d-none">
                  <li>Developed MPT(Mentorship Program Tracker) which aims to make tracking the progress of the mentees
                    easier and digital for all educational institutions
                  </li>

                  <li>Worked on implementing HTML, CSS, Bootstrap, and Javascript to make a fully functional and
                    responsive website
                  </li>

                  <li>Worked on building the backend for the project using Django an open-source python web framework
                  </li>

                  <li>Worked on building sign in and sign up page, the faculty , admin and student dashboards, student
                    profiles, meeting scheduling, details regarding meetings and activity logs
                  </li>

                  <li> Developed a custom admin panel with logs and user lists for ease of access to the user with admin
                    role using DataTables to provide tables with search, filter, pagination and sorting features
                  </li>

                  <li>
                    Worked on implementing ChartJS for visualization of data in marks module
                  </li>

                  <li>
                    <b>Technologies:</b> HTML, CSS, JavaScript, Bootstrap, jQuery, Django, Jinja, SQLite, ChartJS,
                    DataTables
                  </li>

                  <li>
                    <b>Tools:</b> VScode, Figma, DrawSQL, Git, GitHub
                  </li>
                </ul>
              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Anti-Plastic Brigade Charitable Trust</span>

                <span class="resume-div-content">
                  <p class="mb-1">Web Development Intern</p>

                  <div class="row">
                    <div class="col-10 d-inline-flex justify-content-start align-items-center">
                      <span class="date-badge d-inline-flex align-items-center">
                        Oct 2021 - Feb 2022
                      </span>
                    </div>
                    <div class="col-2 d-flex justify-content-end" aria-label="Know More" data-balloon-pos="up-right">
                      <button
                        class="km-apb-btn rounded-circle p-0 km-btn d-flex justify-content-center align-items-center">
                        <span class="iconify km-icon" data-icon="material-symbols:keyboard-arrow-down-rounded"
                          aria-label="know more button"></span>
                      </button>
                    </div>
                  </div>

                </span>
                <ul style="list-style-type:disc; text-align:justify"
                  class="p-3 pt-2 pb-0 resume-info-ul km-apb-info d-none">
                  <li>
                    Developed Responsive Static Website for "Anti-Plastic Brigade Charitable Trust"
                  </li>

                  <li>
                    APBCT is a Registered NGO from Thane working mainly for Solid Waste Management along with other
                    Green Activities since 2017
                  </li>

                  <li>
                    Setup domain and hosted the website at
                    <a class="project-redirect-link d-inline-flex" aria-label="apb link" target="_blank"
                      href="https://anti-plasticbrigade.com/">
                      anti-plasticbrigade.com
                    </a>
                  </li>

                  <li>
                    <b>Technologies:</b> HTML, CSS, JavaScript, Bootstrap, jQuery, Git, GitHub
                  </li>
                </ul>
              </li>

            </ul>
          </div>
        </div>

        <div class="row d-flex justify-content-center m-0">
          <div class="resume" data-aos="fade-up" data-aos-delay="100">
            <h4 class="resume-div-heading d-flex align-items-center">
              <span class="iconify resume-div-heading-icon" data-icon="fluent-mdl2:party-leader"></span>Position Of
              Responsibilities
            </h4>
            <ul>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Colosseum DBIT</span>
                <span class="resume-div-content">
                  <p class="mb-1">Web Development Head</p>
                  <span class="date-badge d-inline-flex align-items-center">
                    Feb 2023 - Mar 2023
                  </span>
                </span>
              </li>

              <li class="resume-li">
                <span class="resume-div-sub-heading">Hysteria DBCL</span>
                <span class="resume-div-content">
                  <p class="mb-1">Web Development Head</p>
                  <span class="date-badge d-inline-flex align-items-center">
                    Jan 2023 - Feb 2023
                  </span>
          </div>
          </span>

          </li>

          </ul>
        </div>

      </div>

    </div>

  </div>

</section>