<!-- Resume Section -->
<section id="resume" class="section section-secondary d-flex justify-content-center align-items-center">

  <div class="content content-secondary">
    <h3 class="section-heading text-center mt-3">Resume</h3>

    <div class="row pb-5 m-0">
      <div class="col-lg-6 col-md-12 col-sm-12"> 
        <div class="row d-flex justify-content-center m-0">
          <div class="work">
            <h4 class="work-div-heading"><i class="fa fa-briefcase"></i>Education</h4>
            <ul>

              <li>
                <span class="work-div-sub-heading">Honors in Data Science</span>
                <span class="work-div-content">
                  <p class="text-muted mb-0">University of Mumbai (July 2022 - Present)</p>
                </span>
              </li>

              <li>
                <span class="work-div-sub-heading">Bachelor of Engineering - Computer Engineering</span>
                <span class="work-div-content">
                  <p class="text-muted mb-0">CGPA - 9.53</p>
                  <p class="text-muted mb-0">University of Mumbai (Aug 2020 - Present)</p>
                </span>

              </li>

            </ul>
          </div>

        </div>


        <div class="row d-flex justify-content-center m-0">

          <div class="work">
            <h3 class="work-div-heading"><i class="fa fa-briefcase"></i>Certifications </h3>
            <ul>

              <li>
                <span class="work-div-sub-heading">The Complete Node.js Developer Course</span>

                <span class="work-div-conent">
                  <p class="text-muted mb-0">Dec 2022</p>
                  <p class="text-muted mb-0">Issued by Udemy</p>
                </span>

              </li>

              <li>
                <span class="work-div-sub-heading">SQL for Data Science</span>
                <span class="work-div-content">
                  <p class="text-muted mb-0">March 2022</p>
                  <p class="text-muted mb-0">Issued by Great Learning</p>
                </span>

              </li>

              <li>
                <span class="work-div-sub-heading">Python Data Structures</span>
                <span class="work-div-content">
                  <p class="text-muted mb-0">August 2020</p>
                  <p class="text-muted mb-0">Issued by University of Michigan</p>
                </span>

              </li>

              <li>
                <span class="work-div-sub-heading">Programming for Everybody (Getting Started with Python)</span>

                <span class="work-div-content">
                  <p class="text-muted mb-0">July 2020</p>
                  <p class="text-muted mb-0">Issued by University of Michigan</p>
                </span>

              </li>

              <li>
                <span class="work-div-sub-heading">Build a Full Website using Wordpress</span>

                <span class="work-div-content">
                  <p class="text-muted mb-0">May 2020</p>
                  <p class="text-muted mb-0">Coursera Project Network</p>
                </span>

              </li>

            </ul>
          </div>
        </div>

      </div>


      <div class="col-lg-6 col-md-12 col-sm-12 p-0 d-flex justify-content-center align-items-start">
        <div class="work">
          <h3 class="work-div-heading"><i class="fa fa-briefcase"></i>Work Experience</h3>
          <ul>

            <li>
              <span class="work-div-sub-heading">Technack Gaming Studio</span>

              <span class="work-div-content">
                <p class="text-muted mb-0">Game Developer</p>
                <p class="text-muted mb-0">Dec 2022 - Present</p>
              </span>
            </li>

            <li>
              <span class="work-div-sub-heading">Aadhar Medical and Educational Trust</span>

              <span class="work-div-content">
                <p class="text-muted mb-0">Web Development Intern</p>
                <p class="text-muted mb-0">Sep 2022 - Oct 2022</p>
              </span>
            </li>

            <li>
              <span class="work-div-sub-heading">Don Bosco Institute of Technology</span>
              <p class="text-muted mb-0">Software Intern</p>
              <p class="text-muted mb-0">Feb 2022 - Present</p>
            </li>

            <li>
              <span class="work-div-sub-heading">Anti-Plastic Brigade Charitable Trust</span>
              <p class="text-muted mb-0">Web Development Intern</p>
              <p class="text-muted mb-0">Oct 2021 - Feb 2022</p>
            </li>

          </ul>
        </div>

      </div>
    </div>

  </div>

</section>