      <!-- Resume Section -->
      <section id="resume" class="d-flex justify-content-center align-items-center pt-5">

        <div class="content">
            <h5 class="section-heading text-center mt-4">Resume</h5>

            <div class="row">


              <div class="col-6">
                <div class="work">
                  <h3><i class="fa fa-briefcase"></i>Education</h3>
                  <ul>

                    <li>
                      <span>Honors in Data Science</span>
                      <small>University of Mumbai (July 2022 - Present)</small>
                    </li>

                    <li>
                      <span>BACHELOR OF ENGINEERING - COMPUTER ENGINEERING</span>
                      <small>CGPA - 9.53</small>
                      <small>University of Mumbai (Aug 2020 - Present)</small>
                    </li>
                  </ul>
                </div>

                <div class="work">
                  <h3><i class="fa fa-briefcase"></i>Certifications </h3>
                  <ul>

                    <li>
                      <span>SQL for Data Science</span>
                      <small>March 2022</small>
                      <small class="">Issued by Great Learning</small>
                    </li>

                    <li>
                      <span>Python Data Structures</span>
                      <small>August 2020</small>
                      <small class="">Issued by University of Michigan</small>
                    </li>

                    <li>
                      <span>Programming for Everybody (Getting Started with Python)</span>
                      <small>July 2020</small>
                      <small class="">Issued by University of Michigan</small>
                    </li>

                    <li>
                      <span>Build a Full Website using Wordpress</span>
                      <small>May 2020</small>
                      <small>Coursera Project Network</small>
                    </li>

                  </ul>
                </div>
              </div>

              <div class="col-6">
                <div class="work">
                  <h3><i class="fa fa-briefcase"></i>Work Experience</h3>
                  <ul>

                    <li>
                      <span>Technack Gaming Studio</span>
                      <small>Game Developer</small>
                      <small>Dec 2022 - Present</small>
                    </li>

                    <li>
                      <span>Yuva Vikas Sanstha</span>
                      <small>Web Development Intern</small>
                      <small>Nov 2022 - Present</small>
                    </li>

                    <li>
                      <span>Aadhar Medical and Educational Trust</span>
                      <small>Web Development Intern</small>
                      <small>Sep 2022 - Oct 2022</small>
                    </li>

                    <li>
                      <span>Don Bosco Institute of Technology</span>
                      <small>Software Intern</small>
                      <small>Feb 2022 - Oct 2022</small>
                    </li>

                    <li><span>Anti-Plastic Brigade Charitable Trust</span>
                      <small>Web Development Intern</small>
                      <small>Oct 2021 - Feb 2022</small>
                    </li>

                  </ul>
                </div>
              </div>

            </div>

         </div>

      </section>