<!-- Technical Skills Section -->
<section id="technical" class="section section-primary d-flex justify-content-center align-items-center">

  <div class="content content-primary">
      <h5 class="section-heading text-center mt-3">Technical Skills</h5>
      
          <div class="row pt-5 pb-5">

            <div class="col-lg-4 mt-5 col-sm-6 d-flex justify-content-center">
              <div class="skills-outer-div">
                <div class="card-body skills-div"  data-aos="fade-left" data-aos-delay="100">
                  <h5 class="Skills-heading">Languages</h5>
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-3 m-2  p-0 d-flex justify-content-center align-items-center" aria-label="C" data-balloon-pos="up">
                      <span class="iconify skills-logo" data-width="60" data-height="60" data-icon="teenyicons:c-outline"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="C++" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="gg:c-plus-plus"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Python" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="mdi:language-python"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="JavaScript" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="mdi:language-javascript"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Java" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="mdi:language-java"></span>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-4 mt-5 col-sm-6 d-flex justify-content-center">
              <div class="skills-outer-div">
                <div class="card-body skills-div"  data-aos="fade-left" data-aos-delay="200">
                  <h5 class="skills-heading">Front-End</h5>

                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Bootstrap" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="akar-icons:bootstrap-fill"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="HTML" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="icomoon-free:html-five"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="CSS" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="ion:logo-css3"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="TailwindCSS" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="mdi:tailwind"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Handlebars" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="logos:handlebars"></span>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-4 mt-5 col-sm-6 d-flex justify-content-center">
              <div class="skills-outer-div">
                <div class="card-body skills-div"  data-aos="fade-left" data-aos-delay="300">
                  <h5 class="skills-heading">Back-End</h5>

                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Django" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="akar-icons:django-fill"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="expressJS" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="simple-icons:express"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="NodeJS" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="akar-icons:node-fill"></span>
                    </div>

                  </div>

                </div>
              </div>
            </div>


            <div class="col-lg-4 mt-5 col-sm-6 d-flex justify-content-center" style="background-color: #E3FDFD">
              <div class="skills-outer-div">
                <div class="card-body skills-div"  data-aos="fade-left" data-aos-delay="400">
                  <h5 class="skills-heading">Cloud</h5>

                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="AWS" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="mdi:aws"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Heroku" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="bxl:heroku"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Netlify" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="teenyicons:netlify-outline"></span>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-4 mt-5 col-sm-6 d-flex justify-content-center">
              <div class="skills-outer-div">
                <div class="card-body skills-div"  data-aos="fade-left" data-aos-delay="500">
                  <h5 class="skills-heading">Databases</h5>

                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="MongoDB" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="simple-icons:mongodb"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="mySQL" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="fontisto:mysql"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="SQLite" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="simple-icons:sqlite"></span>
                    </div>
  
                  </div>

                </div>
              </div>
            </div>

            <div class="col-lg-4 mt-5  col-sm-6 d-flex justify-content-center">
              <div class="skills-outer-div">
                <div class="card-body skills-div"  data-aos="fade-left" data-aos-delay="600">
                  <h5 class="skills-heading">Tools</h5>

                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-3 col-md-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Nginx" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="simple-icons:nginx"></span>
                    </div>

                    <div class="col-3 col-md-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Figma" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="ph:figma-logo"></span>
                    </div>

                    <div class="col-3 col-md-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Linux" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="codicon:terminal-linux"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="GitHub" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="mdi:github"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Git" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="mdi:git"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Replit" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="vscode-icons:file-type-light-replit"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="Postman" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="simple-icons:postman"></span>
                    </div>

                    <div class="col-3 m-2 skills-logo p-0 d-flex justify-content-center align-items-center" aria-label="VScode" data-balloon-pos="up">
                      <span class="iconify" data-width="60" data-height="60" data-icon="akar-icons:vscode-fill"></span>
                    </div>

                  </div>
                  
                </div>
              </div>
            </div>


  </div>

</section>