<!-- Technical Skills Section -->
<section id="technical section section-primary" class="d-flex justify-content-center align-items-center">

  <div class="content content-primary">
      <h5 class="section-heading text-center mt-3">Technical Skills</h5>
      
          <div class="row">

            <div class="col-4 d-flex justify-content-center align-items-center">
              <div class="" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Languages</h5>
                  <div class="row">
                    <div class="col-3">
                      <span class="iconify" data-icon="teenyicons:c-outline"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="gg:c-plus-plus"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="mdi:language-python"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="mdi:language-javascript"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="mdi:language-java"></span>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <div class="col-4 d-flex justify-content-center align-items-center">
              <div class="" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Front-End</h5>

                  <div class="row">
                    <div class="col-3">
                      <span class="iconify" data-icon="akar-icons:bootstrap-fill"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="icomoon-free:html-five"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="ion:logo-css3"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="mdi:tailwind"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="logos:handlebars"></span>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <div class="col-4 d-flex justify-content-center align-items-center">
              <div class="" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Back-End</h5>

                  <div class="row">
                    <div class="col-3">
                      <span class="iconify" data-icon="akar-icons:django-fill"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="simple-icons:express"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="akar-icons:node-fill"></span>
                    </div>

                    <div class="col-3">

                    </div>

                  </div>

                  <div class="row">

                  </div>

                </div>
              </div>
            </div>

          </div>

          <div class="row pt-5">

            <div class="col-4 align-items-center" style="background-color: #E3FDFD">
              <div class="" style="width: 18rem;">
                <div class="">
                  <h5 class="card-title">Cloud</h5>

                  <div class="row">
                    <div class="col-3">
                      <span class="iconify" data-icon="mdi:aws"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="bxl:heroku"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="teenyicons:netlify-outline"></span>
                    </div>

                  </div>

                </div>
              </div>
            </div>

            <div class="col-4 d-flex justify-content-center align-items-center">
              <div class="" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Databases</h5>

                  <div class="row">
                    <div class="col-3">
                      <span class="iconify" data-icon="simple-icons:mongodb"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="fontisto:mysql"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="simple-icons:sqlite"></span>
                    </div>
  
                  </div>

                </div>
              </div>
            </div>

            <div class="col-4 d-flex justify-content-center align-items-center">
              <div class="" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Tools</h5>

                  <div class="row">
                    <div class="col-3">
                      <span class="iconify" data-icon="simple-icons:nginx"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="ph:figma-logo"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="codicon:terminal-linux"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="mdi:github"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="mdi:git"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="vscode-icons:file-type-light-replit"></span>
                    </div>

                    <div class="col-3">
                      <span class="iconify" data-icon="simple-icons:postman"></span><span class="iconify" data-icon="akar-icons:vscode-fill"></span>
                    </div>

                  </div>
                  
                </div>
              </div>
            </div>

          </div>

  </div>

</section>