<!-- Technical Skills Section -->
<section id="technical" class="d-flex justify-content-center align-items-center">

  <div class="content">
      <h5 class="section-heading text-center mt-3">Tehnical Skills</h5>
  </div>

</section>