#about .about-info-row {
    width: 30vw;
}
#about .about-info {
    font-size: var(--fs-250);
}
#about .profile-img {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5) !important;
    width: 300px;
}
.about-info  > span {
    color: var(--clr-accent-600);
    font-weight: var(--fw-semi-bold);
}
#about .interests-div {
    width: 18rem;
    height: 7vh;
    border-radius: 7px;
    background-color: var(--clr-accent-300);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#about .interests-div:hover {
    transform: perspective(25px) rotateX(0deg) rotateY(0deg) scale(1.05);
    box-shadow: 0 0 30px var(--clr-accent-700);

}
#about .interests-div-heading {
    font-size: var(--fs-250);
}
.about-info > a {
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: var(--clr-accent-600);
}
.about-info > a:hover {
    color: var(--clr-accent-700);
}

/* media query */
@media (max-width: 1400px) {
    #about .about-info-row {
        width: 40vw;
    }
}
@media (max-width: 1200px) {
    #about .profile-img {
        width: 250px;
    }
    #about .about-info-row {
        width: 37vw;
    }
}

@media (max-width: 995px) {
    #about .about-info-row {
        width: 85vw;
    }
    #about .about-info-div {
        padding-top: 20px ;
    }
    #about .about-row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}