@import "global.css";

nav{
	background-color: var(--clr-accent-200);
}

.nav-link {
	color: var(--clr-accent-600);
}
.nav-link.active {
	color: var(--clr-accent-700);
}
.nav-link:hover {
	color: var(--clr-accent-700);
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}
.nav-link:focus {
	color: var(--clr-accent-700);
}