@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import "global.css";

ul {
  list-style-type: none;
  padding: 0;
}
.work-div-heading {
  margin: 10px 0;
  font-size: var(--fs-350);
  transition-duration: 0.3s;
  margin-top: 0;
}

.work-div-sub-heading {
  font-size: var(--fs-250);
}

.work-div-content {
  font-size: var(--fs-200) !important;
}

.resume .func:hover > div {
  transition-duration: 0.5s;
}

.resume .func:hover > div:hover h3 i {
  transform: scale(1.25);
}

.resume .func:hover > div:not(:hover) {
  opacity: 0.5;
}

/* h3 i {
  color: #283593;
  background: #ffb300;
  width: 42px;
  height: 42px;
  font-size: 20px;
  line-height: 42px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 8px;
  transition-duration: 0.3s;
} */

.work
{
  float: left;
}
.work small
{
  display: block;
  opacity: 0.7;
}

.work ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
}

.work ul li:hover::before {
  -webkit-animation: circle 1.2s infinite;
          animation: circle 1.2s infinite;
}

.work ul li:hover span {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-accent-800);
}

@-webkit-keyframes circle {
  from {
    box-shadow: 0 0 0 0px var(--clr-accent-800);
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}

@keyframes circle {
  from {
    box-shadow: 0 0 0 0px var(--clr-accent-800);
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}
.work ul li:first-of-type::before{
  width: 14px;
  height: 14px;
  left: 0px;
}

.work ul li:last-of-type{
  padding-bottom: 3px;
}

.work ul li:last-of-type::after{
  border-radius: 1.5px;
}

.work ul li::before,
.work ul li::after {
  content: "";
  display: block;
  position: absolute;
}

.work ul li::before{
  width: 11px;
  height: 11px;
  border: 3px solid black;
  background: var(--clr-accent-800);
  border-radius: 50%;
  left: 0.8px;
  z-index: 1;
}

.work ul li::after {
  width: 3px;
  height: 100%;
  background: black;
  left: 5px;
  top: 0;
}

.work ul li span{
  transition-duration: 0.3s;
}

.work {
  width: 60%;
  margin-top: 36px;
  border-radius: 10px;
  background-color: var(--clr-accent-300);
  box-shadow: rgba(78, 186, 191, 0.4) 5px 5px, rgba(78, 186, 191, 0.3) 10px 10px, rgba(78, 186, 191, 0.2) 15px 15px, rgba(78, 186, 191, 0.1) 20px 20px, rgba(78, 186, 191, 0.05) 25px 25px;
  padding: 15px;
}
