@import "global.css";
body {
	background-color: var(--clr-accent-300);
}
h5:after {
	/* color: */
	content: "";
	display: block;
	height: 3px;
	position: relative;
	width: 50px;
	background-color: #71C9CE;
	margin: 5px auto;
  }
.section {
	padding-top: 10vh;
	padding-bottom: 10vh;
}
.section-primary {
	background-color: var(--clr-accent-300);
}
.section-secondary {
	background-color: var(--clr-accent-100);
}
.section-heading {
	color: var(--clr-heading);
	font-size: var(--fs-450);
}
.section-sub-heading {
	color: var(--clr-sub-heading);
	font-size: var(--fs-350);
}
.content {
	width: 90vw !important;
	/* border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.content-primary {
	background-color: var(--clr-accent-300);
}

.content-secondary {
	background-color: var(--clr-accent-100);
}

/* RollUp */
#rollUp {
	display: none;
	position: fixed;
	z-index: 10;
	bottom: 0;
	right: 0;
	margin: 15px;
	text-decoration: none;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%) !important;
}
#rollUp.scroll {
	display: flex;
}
#rollUp.btn {
	background-color: var(--clr-accent-700);
	height: 6vh;
	width: 6vh;
	justify-content: center;
	align-items: center;
}

/* Toggle Theme */
#toggle-theme {
	position: fixed;
	border: 0;
	z-index: 10;
	bottom: 0;
	left: 0;
	margin: 15px;
	text-decoration: none;
	box-shadow: 0 0 5px 1px rgb(0 0 0 / 50%) !important;
}
#toggle-theme.scroll {
	display: flex;
}
#toggle-theme {
	background-color: var(--clr-accent-700);
	height: 6vh;
	width: 6vh;
	justify-content: center;
	align-items: center;
}