.skills-heading {
    font-size: var(--fs-300);
}
.skills-logo:hover {
    transform: perspective(25px) rotateX(0deg) rotateY(0deg) scale(1.07);
}
.skills-outer-div {
    width: 21rem;
}
.skills-div {
    width: 21rem;
    border-radius: 9px;
    box-shadow: rgba(78, 186, 191, 0.4) 5px 5px, rgba(78, 186, 191, 0.3) 10px 10px, rgba(78, 186, 191, 0.2) 15px 15px, rgba(78, 186, 191, 0.1) 20px 20px, rgba(78, 186, 191, 0.05) 25px 25px;
}